---
import { astroCalledServerError } from 'astro:actions';
import Layout from '../../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import { getAstroMetadata } from 'astro/jsx/rehype.js';
import { formatDate } from '../../utils';
import Tags from '../../components/Tags.astro';

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error('Slug is required');
}

const article = await getEntry('blog', slug);

if (article === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await article.render();
---

<Layout>
  <a
    href="/articles"
    class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white"
    >Back To Articles</a
  >
  <article>
    <h1 class="text-4xl font-bold mb-2">
      {article.data.title}
    </h1>
    <h3 class="text-lg mb-2">
      Written by {article.data.author} on {formatDate(article.data.pubDate)}
    </h3>
    <Tags tags={article.data.tags} />
    <img
      src={'/images/' + article.data.image}
      alt="Article Image"
      class="w-full h-auto rounded-xl my-6"
    />
    <Content />
  </article>
</Layout>

<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
</style>
